*.py[cod]

# C extensions
*.so

# Virtualenv
env

# Webassets Cache
.webassets-cache

# Tmp
tmp

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Text Editors
*.sublime-project
*.sublime-workspace
